*{
  margin: 0 ;
  padding: 0;
  
}

.divisao { 
    /* em grid o usual é chamar essa classe de container, mas como usou-se o bootstrap nas navs, se chamar container, são tomadas as css do BS, que tem diferentes arranjos de tamanhos*/

    background-color:#D1E0E7;
    display: grid;
    height: 100vh; /* 100 da viewport*/
    font-size:0.9rem;
    font-weight:400;
    font-family: calibri;
    grid-template-columns: 0.5fr 1.5fr 1.5fr;
    grid-template-rows: 0.1fr 0.05fr 1.0fr 1.0fr 1.3fr 0.2fr;
    grid-template-areas: "cabecalho cabecalho cabecalho"
                         "titulo titulo titulo"
                         "sidebar principal principal"
                         "sidebar principal principal"
                         "sidebar principal principal"
                         "rodape rodape rodape";

}

#cabecalho {
    display: flex;
    background-color:#FFFFFF;
    justify-content:space-between;
    grid-area: cabecalho;
    align-items: center;
    text-align: right;
    margin-right: 00vh;
    font-size: 1.2rem;
    font-weight:bold;
}

#img_header {
    background:url(img/pbe_logo.png);
    background-size: cover;
    background-color: #FFFFFF;
    margin-left: 5vh;
    margin-right: auto;
    height: 9vh; /* tamanho ocupado pelo grid header é 7.5% da VP*/
    width:16vh; /* a imagem tem proporção de 1x3.11 em altura x largura*/

}

#titulo {
    display:flex;
    background-color:#D1E0E7;
    grid-area: titulo;
    align-items: center;
    justify-content:center;
    font-size: 1.5rem;
    font-weight: bold;
}

#principal {
    background-color:#D1E0E7;
    grid-area: principal;
    margin-top: 1vh;
    margin-right: 1vh;
}

#sidebar {
    background-color:#D1E0E7;
    grid-area: sidebar;
    margin-top: 0.75vh;
    width: 27vh;
    
}

.nav-buttons {
    background-color: #FFFFFF;
    text-decoration: none;
    border-radius:0.5vh;
    font-size:1.2rem;
    margin:0.5vh;
    color:black;

}

.nav-buttons:hover {
    background-color: #ADD2E2;
    font-weight: bold;
    color:black;

}

.fa-circle-plus:hover {
    color:forestgreen;
    scale: 1.25;
}

#rodape {
    margin-top: 1vh;
    background-color: #FFFFFF;
    grid-area: rodape;
    color: black;
    text-align: center;
}

#descricao {
    float: left;
    margin: 1vh;
    margin-right: 0;
    width:15vw;
}

#descricao_cont {
    width:35vw;
    float: left;
    margin: 1vh;
    font-size:1.1rem;
}

#descricao label {
    font-size:1.15rem;
    font-weight: normal;
    margin: 1vh;
}

#descricao_cont input {
    border-radius: 0.5vh;
    margin: 1vh;
    width: 15vw;
    padding-left: 0.5vw;
    
}

#descricao_cont select {
    border-radius: 0.5vh;
    margin: 1vh;
    width: 15vw;
    padding-left: 0.5vw;
}

#myTable th {
    text-align: center;
    vertical-align: middle;
    background-color: #F5F5F5;
    border-collapse: collapse;
    min-width: 25px;
    border: 1px solid #d0d0d0;
    border-radius: 0.5px;
    
}

#myTable tr {
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;

}
#myTable td {
    text-align: center;
    vertical-align: middle;
    padding: 0% !important;
    margin:0;
}

#myTable td input {
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
  }

#myTable td select {
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    box-sizing: border-box;
  }

#ComponenteModal label {
    margin-top: 0.5vh;
}

.btn-inverse{
    background-color:#DEDEDE
}

.th_grande {
    padding-right:32px !important;
    padding-left:32px !important;
    
}

.column {
    float: left;
    width: 50%;
  }

.column2 {
    float: left;
    width: 33%;
 }

  #grad {
    background-image: linear-gradient(to right, #FFFFFF , #0098DA);
  }

  h3 {
    font-family: calibri;
  }

  .tittle-instrucao {
    margin-right: 3vh;
  }

  .btn-limpar-dados {
    margin-top: 1vh;
    width: 4vh;

  }

  .btn-prox-etapa {
   margin-top: 1vh;
   width: 4vh;
  }

  #div-btn-envo {
    margin-left: 135vh;  
  }

  #div-btn-ilumi, #div-btn-aquec, #div-btn-geracao {
    margin-left: 19vh;
  }
  
  #cloud-icon {
    width: 4vh;
    margin-left: 1vh;
  }

  #div-btn-resultados {
    margin-left: 4vh;
    margin-top: -5.2vh;
  }

  /* Responsividade para telas de largura 768px */

  @media only screen and (max-width: 768px) {
    #descricao {
        float: left;
        margin: 3vh;
        margin-right: 0;
        max-width:8vw;
    }
    
    #descricao_cont {
        width:35vw;
        float: left;
        margin: 1vh;
        font-size:1rem;
    }
    
    #descricao label {
        font-size:1rem;
        font-weight: bold;
        margin: 1vh;
        width: 15vh;
    }

    .entradas {
        margin-left: 10vh;
        margin-bottom: 1.3vh;
    }

    .tittle-instrucao {
        font-size: 1.2rem;
        text-align: center;
        margin: auto auto;
    }
  }

  /* Responsividade para mobile */

  @media (min-width: 320px) and (max-width: 480px) {

    #tittle-caracteristicas {
        font-size: 1.2rem;
    }
  
    #descricao {
        float: left;
        margin-left: 0.5vw;
        margin-right: 20vw; 
        max-width:10vw;
    }
    
    #descricao_cont {
        float: left;
        width: 1vh;
        margin: 0.8vh;
        font-size:0.8rem;
        margin-top: 3.5vh;
    }
    
    #descricao label {
        font-size:0.8rem;
        font-weight: bold;
        margin: 1vh;
        margin-top: 1vh;
        max-width: 20vw;
    }

    .entradas {
        margin-bottom: 5vh;
    }

    .tittle-instrucao {
        font-size: 0.8rem;
        text-align: center;
        max-width: 45vw;
    }

    #img_header {
        max-width: 42vw;
        margin-left: 1px;
    }

    #btn-upload {
        max-width: 60vw;
        font-size: 0.7rem;
        margin-left: auto;
    }

    .nav-link {
        font-size: 0.8rem;
    }

    #titulo {
        font-size: 1.3rem;
    }

    #principal {
        margin-right: 0.5vw;
    }

    #zona-bio{
        max-width: 60vw;
        max-height: 8.6vh;
        margin-left: 20vw;
    }

    #zb {
        font-size: 1rem;
    }
 
  }
  